extends layout

head
	link(rel="stylesheet" tyoe="text/css" href="/css/landingstyles.css")

block content
	#title TWEETAR THING
	#tagline Let's face it, we all love Beyonce
	a(href="/account/login")
		#button Log In

	#copyleft (C) Dumbassery Ltd, 2014.  All rights reserved.