extends layout

block head
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	link(rel="stylesheet" type="text/css" href="/css/landingstyles.css")


block content
	#title TWEET
		strong Map
	#tagline Heat maps for Twitter
	a(href="/login")
		#button Log In

	#copyleft (C) The Cool Kids, 2014.  No Rights Reserved.