doctype
html
  head
    //- script(src="https://cdn.socket.io/socket.io-1.1.0.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="/js/jquery.js")
    script(src="/js/main.js")
    link(rel="stylesheet" tyoe="text/css" href="/css/main.css")
  body
    block content
