doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='csrf-token', content=_csrf)
        meta(name='author', content='')
        title #{title} | Map

        //- script(src="https://cdn.socket.io/socket.io-1.1.0.js")
        script(src="http://d3js.org/d3.v3.min.js")
        script(src="/js/jquery.js")
        script(src="/js/main.js")
        link(rel="stylesheet" tyoe="text/css" href="/css/main.css")

    body
      block content