html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    color: #000;
    background: #385b74;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#titlebar {
    display: block;
    height: 2em;
    font-family: "Trebuchet MS";
    background-color: black;
    color: white;
    line-height: 2em;
    font-size: 2em;
    /*padding: 0px 20px 0px 50px;*/
    padding-left: 20px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

input {
    height: 65%;
    font-size: 1em;
    line-height: 1em;
    margin-top: .25em;
    margin-right: 50px;
    border: 1px solid blue;
    font-family: "Trebuchet MS";
    border-radius: 5px;
    float: right;
    display: inline-block;
}
.dot:hover {
    opacity: .8;
}

#mapwrap {
    height: 100%;
    position: relative;
    display: block;
    min-height: 780px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 100%;
}


#map {
    background-image: url("../images/map.jpg");
    background-repeat: no-repeat;
    height: 720px;
    width: 1280px;
    display: block;
    z-index: 0;
    top: 60px;
    position: absolute;
}

#arrowWrap {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 20px;
}

#arrows {
    cursor: pointer;
}


#description {
    color: #fff;
    background: rgb(36,36,36);
    width: 100%;
    height: 200px;
    display: block;
}

/*.content {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
}*/

/*.heading {
    padding-top: 25px;
    display: block;
    z-index: 0;
}*/

/*FEED*/
#list {
    background-color: #ecf0f1;
    width: 350px;
    font-family: "Trebuchet MS";
    float: right;
    display: inline;
    box-shadow: inset 1px 0px 1px 1px #95a5a6;
    height: 100%;
    overflow: scroll;
}

.card {
    border-top: 1px solid #bdc3c7;
    color: #2980b9;
    padding: 5px;
    display: block;
}
.card:hover {
    background-color: rgba(0,0,0,.05);
}

.handle {
    text-decoration: none;
}
.handle:visited {
    color: inherit;
}
.handle: hover {

}